# use vim edit mode for terminal input 
set editing-mode vi
set keymap vi

# show vim mode in the prompt
# for more information https://stackoverflow.com/questions/1039713/different-bash-prompt-for-different-vi-editing-mode
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[34;1m\2[INSERT] \1\e[0m\2
set vi-cmd-mode-string \1\e[33;1m\2[NORMAL] \1\e[0m\2
